<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">Ready to Get Started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque
        repellendus ratione earum quae vitae rem sint tempore delectus
        temporibus, nemo labore. Exercitationem, reiciendis recusandae nemo
        dignissimos doloremque at blanditiis asperiores.
      </p>
    </div>
    <a href="" class="btn btn--secondary btn--streched">Get Started</a>
  </div>
</div>
