<div class="media">
  <div class="media__image">
    <svg class="icon icon--secondary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy start & Manage updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
      velit, accusamus, excepturi sequi dicta expedita aperiam molestias,
      asperiores debitis laudantium aspernatur eaque odit? Animi non architecto
      fuga consequatur possimus. Voluptatibus!
    </p>
  </div>
</div>
